################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Cerasus/v15
/Cerasus/Debug
/Cerasus/Release
/Cerasus/x64/Debug
/Cerasus/x64/Release
